/* .border.FATTURA{
    --bs-border-color : var(--bs-);
}
.border.SENZA_FATTURA{
    --bs-border-color : blue;
}
.border.ISICO{
    --bs-border-color : green;
}
.border.ARUBA{
    --bs-border-color : black;
} */

.del{
    cursor:pointer;
}

.bg-warning{
    opacity:50%;
    border:solid red 1px!important;
    border-radius: 5px;
}