td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search_row {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.search_row:hover{
    cursor: pointer;
}
.search_input {
    border: none;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}
.search_input:hover{
    cursor: pointer;
}
.search_up, .search_down {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.search_up:hover, .search_down:hover {
    background-color: var(--base-bg-primary);
    cursor: pointer;
}
.search_up:hover > svg, .search_down:hover > svg {
    fill: white;
}