div.calendar {
    padding: 1rem;
    border: solid rgba(var(--base-bg-primary-rgb),0.3) 0.5px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}
div.calendar-out{
    background-color: rgba(var(--base-bg-primary-rgb),0.5)!important;
}
div.calendar-in{
    background-color: transparent;
}
div.calendar-in:hover{
    background-color: rgba(var(--base-bg-primary-rgb),0.2);
    cursor:pointer;
}
div.calendar-current{
    background-color: rgba(var(--base-bg-primary-rgb),0.2);
}
.c1{
    flex: 0 0 auto;
    width: 14%;
    padding: 0.5rem;
    border-right: solid rgba(var(--base-bg-primary-rgb),0.3) 0.01px;
    border-bottom: solid rgba(var(--base-bg-primary-rgb),0.3) 0.01px;
    font-size: 1.2rem;
    cursor: pointer;
}
.day-name{
    background-color: var(--base-bg-primary);
    color: white;
    
}
.day-name:not(:last-child){
    border-right: solid white 1px;
}
.day-name::after {
    content: attr(data-full);
}
.passed{
    background-color: rgba(var(--base-bg-primary-rgb),0.5)!important;
}
@media (max-width: 991.98px) {
    .day-name::after {
        content: attr(data-short);
    }
}
