.cc1{
    flex: 0 0 auto;
    width: 5%;
}
.cc2{
    flex: 1 1 auto;
}
.cc3{
    flex: 0 0 auto;
    width: 15%;
}
.cc4{
    flex: 0 0 auto;
    width: 20%;
}

.cs1{
    flex: 0 0 auto;
    width: 30%;
}
.cs3{
    flex: 0 0 auto;
    width: 5%;
}
.cs2{
    flex: 1 1 auto;
}
.csp1{
    flex: 1 1 auto;
}
.csp2{
    flex: 0 0 auto;
    width: 15%;
}
.csp3{
    flex: 0 0 auto;
    width: 5%;
}
.csp4{
    flex: 0 0 auto;
    width: 30%;
}
.titles,.seduta-titles{
    padding-bottom:8px;
    padding-left:20px;
    padding-right:40px;
    padding-top:8px;
}
@media (max-width:768px) {
    .seduta-titles{
        padding-bottom:8px!important;
        padding-left:2px!important;
        padding-right:4px!important;
        padding-top:8px!important;
    }
}
.delHover:hover{
    cursor: pointer;
}
.statoHover:hover{
    cursor: pointer;
}
.accordion-button{
    min-height: 50px!important;
}

.div-Debitore, .div-Assente{
    background-color: var(--bs-danger)!important;
    margin-right:5px;
}
.div-Parziale,.div-Prenotata{
    background-color: var(--bs-warning)!important;
    margin-right:5px;
}
.div-Saldato, .div-Conclusa{
    background-color: var(--bs-green)!important;
    margin-right:5px;
}

.color-box-neutro {
    width:20px;
    height:20px;
    border:1px solid white;
    border-radius:3px;
    vertical-align:middle;
    background-color: transparent;
}

.color-box-black {
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:3px;
    vertical-align:middle;
    background-color: black;
}

.color-box-white {
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:3px;
    vertical-align:middle;
    background-color: white;
}