.floating-btns{
    padding: 20px;
    padding-bottom: 0px;
    z-index: 1055!important;
    position:absolute;
    width: 100vw;
    top:0;
    left:0;
}
.checked{
    background-color: var(--base-bg-light);
}