.floating-btns{
    padding: 20px;
    padding-bottom: 0px;
    z-index: 1055!important;
    position:absolute;
    width: 100vw;
    top:0;
    left:0;
}
.checked{
    background-color: var(--base-bg-light);
}

.Parziale, .Fatturato{
    background-color: var(--bs-warning);
}

.color-box-neutro {
    width:20px;
    height:20px;
    border:1px solid white;
    border-radius:3px;
    vertical-align:middle;
    background-color: transparent;
}

.color-box-black {
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:3px;
    vertical-align:middle;
    background-color: black;
}

.color-box-white {
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:3px;
    vertical-align:middle;
    background-color: white;
}