.deleteBtnEnter > input{
    background-color: red!important;
}
.stampBtnEnter > input{
    background-color: rgb(132, 132, 132)!important;
}
.stampDisabled{
    text-decoration: line-through;
}
.form-check-input {
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    width: 5rem!important;
    height: 2rem;
}

.form-check-input:checked {
    border: none;
    background-size: 2rem 2rem;
    background-color: var(--base-bg-primary);
}