.deleteBtnEnter > input{
    background-color: red!important;
}
.stampBtnEnter > input{
    background-color: rgb(132, 132, 132)!important;
}
.stampDisabled{
    text-decoration: line-through;
}
.checkbox{
    width: 30px;
    height: 30px;
    background-color: var(--base-bg-primary);
}
.btn > a > svg{
    width: 1rem!important;
    height: 1rem!important;
}