table,td{
    cursor: pointer;
}
.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
}
.planning-table {
    width: 100%;
}
tr,td{
    height: 50px!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 0;
}
input:disabled {
    cursor: pointer!important;
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: black!important;;
}
.hovered{
    background-color: var(--base-bg-colorfull3)!important;
    cursor: pointer;
}
.date-target:hover{
    cursor: pointer;
}
.table {
    border-spacing: 0 0;
}
.table-separate{
    border-collapse: separate;
}

.seduta{
    --seduta-border:white
    cursor: pointer;
}
.seduta_start {
    border-top: solid var(--seduta-border) 2px!important;
    background-color: var(--base-bg-colorfull3)!important;
}
.seduta_middle {
    background-color: var(--base-bg-colorfull3)!important;
}
.seduta_end{
    border-bottom: solid var(--seduta-border) 2px!important;
    background-color: var(--base-bg-colorfull3)!important;
}
.seduta_start.first{
    border-left: solid var(--seduta-border) 2px!important;
}
.seduta_start.last{
    border-right: solid var(--seduta-border) 2px!important;
}
.seduta_middle.first{
    border-left: solid var(--seduta-border) 2px!important;
}
.seduta_middle.last{
    border-right: solid var(--seduta-border) 2px!important;
}
.seduta_end.first{
    border-left: solid var(--seduta-border) 2px!important;
}
.seduta_end.last{
    border-right: solid var(--seduta-border) 2px!important;
}
.seduta_hovered{
    background-color: var(--base-bg-colorfull3)!important;
    --seduta-border:var(--base-bg-primary);
    box-shadow: 0 0 0 2px var(--seduta-border); 
}

.Assente {
    opacity: 0.5;
}

.Conclusa {
    --bg-color: 0, 76, 255;
    background: linear-gradient(135deg, rgba(var(--bg-color), 0.2) 25%, transparent 25%, transparent 50%, rgba(var(--bg-color), 0.2) 50%, rgba(var(--bg-color), 0.2) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
}

.corso{
    --corso-border:white;
    cursor: pointer;
}
.corso_start {
    border-top: solid var(--corso-border) 2px!important;
    background-color: var(--base-bg-colorfull)!important;
}
.corso_middle {
    background-color: var(--base-bg-colorfull)!important;
}
.corso_end{
    border-bottom: solid var(--corso-border) 2px!important;
    background-color: var(--base-bg-colorfull)!important;
}
.corso_start.first{
    border-left: solid var(--corso-border) 2px!important;
}
.corso_start.last{
    border-right: solid var(--corso-border) 2px!important;
}
.corso_middle.first{
    border-left: solid var(--corso-border) 2px!important;
}
.corso_middle.last{
    border-right: solid var(--corso-border) 2px!important;
}
.corso_end.first{
    border-left: solid var(--corso-border) 2px!important;
}
.corso_end.last{
    border-right: solid var(--corso-border) 2px!important;
}
.corso_hovered{
    background-color: var(--base-bg-colorfull)!important;
    --corso-border:var(--base-bg-primary);
    box-shadow: 0 0 0 2px var(--corso-border); 
}

.sbarra{
    --sbarra-border:white;
    cursor: pointer;
}
.sbarra_start {
    border-top: solid var(--sbarra-border) 2px!important;
    background-color: var(--base-bg-colorfull2)!important;
}
.sbarra_middle {
    background-color: var(--base-bg-colorfull2)!important;
}
.sbarra_end{
    border-bottom: solid var(--sbarra-border) 2px!important;
    background-color: var(--base-bg-colorfull2)!important;
}
.sbarra_start.first{
    border-left: solid var(--sbarra-border) 2px!important;
}
.sbarra_start.last{
    border-right: solid var(--sbarra-border) 2px!important;
}
.sbarra_middle.first{
    border-left: solid var(--sbarra-border) 2px!important;
}
.sbarra_middle.last{
    border-right: solid var(--sbarra-border) 2px!important;
}
.sbarra_end.first{
    border-left: solid var(--sbarra-border) 2px!important;
}
.sbarra_end.last{
    border-right: solid var(--sbarra-border) 2px!important;
}
.sbarra_hovered{
    background-color: var(--base-bg-colorfull2)!important;
    --sbarra-border:var(--base-bg-primary);
    box-shadow: 0 0 0 2px var(--sbarra-border); 
}