.planning-date:hover{
    cursor: pointer;
}
.datepicker:hover{
    cursor: pointer;
}
.hovered{
    background-color: rgba(var(--base-bg-primary-rgb),0.5)!important;
    cursor: pointer;
}
.date-target:hover{
    cursor: pointer;
}
.sbarra_start {
    border-top: solid rgb(115, 115, 115) 2px!important;
    background-color: rgba(var(--base-bg-primary-rgb),0.2)!important;
}
.sbarra_middle {
    background-color: rgba(var(--base-bg-primary-rgb),0.2)!important;
}
.sbarra_end{
    border-bottom: solid rgb(115, 115, 115) 2px!important;
    background-color: rgba(var(--base-bg-primary-rgb),0.2)!important;
}
.sbarra_start.first{
    border-left: solid rgb(115, 115, 115) 2px!important;
}
.sbarra_start.last{
    border-right: solid rgb(115, 115, 115) 2px!important;
}
.sbarra_middle.first{
    border-left: solid rgb(115, 115, 115) 2px!important;
}
.sbarra_middle.last{
    border-right: solid rgb(115, 115, 115) 2px!important;
}
.sbarra_end.first{
    border-left: solid rgb(115, 115, 115) 2px!important;
}
.sbarra_end.last{
    border-right: solid rgb(115, 115, 115) 2px!important;
}